<div class="container">
  <h1 class="title-font">Favorite Recipes</h1>
</div>

<div class="container">
  <% if @recipes.any? %>
    <% @recipes.each do |recipe| %>
        <a href="<%= recipe_path(recipe) %>" style="text-decoration: none;">
          <div class="card-recipe" >
            <div class="recipe-title">
              <%= recipe.name %>
            </div>
            <div class="card-favorite-button" >
              <%= render 'favorites/favorite_btn', recipe: recipe %>
            </div>
            <% if recipe.image.attached? %>
              <div class="card-recipe-index-image">
                <a href="<%= recipe_path(recipe) %>">
                  <%= cl_image_tag recipe.image.key %>
                </a>
              </div>
            <% end %>
          </div>
        </a>
    <% end %>
  <% else %>
    <p>You haven't added any recipes to your favourites yet.</p>
  <% end %>
</div>
