<div class="container">
  <h1 class="title-font">Recipes</h1>
</div>

<!--<div class="container">
  <%= link_to "Upload a recipe", new_recipe_path, class: "btn btn-secondary", style: "margin-right: 10px;" %>
  <%= link_to "Favorites", favorites_path, class: "btn btn-secondary", style: "margin-right: 10px;" %>
</div> -->

<div class="container">
  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search recipes"%>
    <div class="button-row">
      <%= submit_tag "Search", name: nil, class: "btn btn-secondary"%>
    </div>
  <% end %>


  <% @recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe) %>" style="text-decoration: none;">
     <div class="card-recipe" >
        <h2><%= recipe.name %></h2>
       <!--<h4><%= recipe.description %></h4> -->
         <% if recipe.image.attached? %>
           <%= cl_image_tag recipe.image.key %>
         <% end %>
         <%= render 'favorites/favorite_btn', recipe: recipe %>
      </div>
    </a>
  <% end %>
</div>
