<h1 class="title-font title-header">Recipes</h1>


<!--<div class="container">
  <%= link_to "Upload a recipe", new_recipe_path, class: "btn btn-secondary", style: "margin-right: 10px;" %>
  <%= link_to "Favorites", favorites_path, class: "btn btn-secondary", style: "margin-right: 10px;" %>
</div> -->


<div class="search-bar-recipe">
  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Type an ingredient", class: "search-box" %>
    <%= submit_tag "Search", name: nil, class: "btn-recipe-search-button"%>
  <% end %>
</div>


<div class="recipe-container">
  <% @recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe) %>" style="text-decoration: none;">
      <div class="card-recipe" >
        <div class="recipe-title">
          <%= recipe.name %>
        </div>
        <div class="card-favorite-button" >
          <%= render 'favorites/favorite_btn', recipe: recipe %>
        </div>
        <% if recipe.image.attached? %>
          <div class="card-recipe-index-image">
            <a href="<%= recipe_path(recipe) %>">
              <%#= render 'favorites/favorite_btn', recipe: recipe %>
              <%= cl_image_tag recipe.image.key %>
            </a>
          </div>
        <% end %>
      </div>
    </a>
  <% end %>
</div>
