<div class="container">
  <h1 class="title-font">Recipes</h1>
</div>

<!--<div class="container">
  <%= link_to "Upload a recipe", new_recipe_path, class: "btn btn-secondary", style: "margin-right: 10px;" %>
  <%= link_to "Favorites", favorites_path, class: "btn btn-secondary", style: "margin-right: 10px;" %>
</div> -->

<div class="container" style="text-slign: center">
  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search recipes"%>
    <div class="button-row">
      <%= submit_tag "Search", name: nil, class: "btn btn-secondary"%>
    </div>
  <% end %>


  <div class="container" style="text-slign: center">
    <% @recipes.each do |recipe| %>
      <div class="row my-2 mx-2">
        <a href="<%= recipe_path(recipe) %>" style="text-decoration: none;">
          <div class="card-recipe" >
            <h2><%= recipe.name %></h2>
            <!--<h4><%= recipe.description %></h4> -->
            <% if recipe.image.attached? %>
              <div class="card-recipe-index-image">
                <%= cl_image_tag recipe.image.key %>
              </div>
            <% end %>
            <div class="card-favorite-button" >
              <%= render 'favorites/favorite_btn', recipe: recipe %>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>


</div>
