<div class="container">
  <h1 class="title-font">Add a recipe</h1>
</div>

<div class="card">
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :name %>
    <%= f.input :image, as: :file %>
    <%= f.input :description %>
    <%= f.input :cook_time, placeholder:"in minutes" %>
    <%= f.input :prep_time, placeholder:"in minutes" %>
    <%= f.input :servings %>
    <%= f.input :ingredients, placeholder:"Please separate each ingredients by a comma (,)" %>
    <%= f.input :steps, placeholder: "Please separate each step in the instructions by using a number followed by a period (.)"%>
    <div style="text-align: center;">
      <%= f.button :submit, class:"btn btn-primary" %> <%= link_to "Go to recipes", recipes_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
