<div class="column">
  <h1><%= @recipe.name %></h1>
</div>
<div class="row">
  <div class="column d-flex justify-content-center">
    <div class="card">
      <%= cl_image_tag @recipe.image.key %>
      <div class="column">
        <p><%= @recipe.description %></p>
      </div>
      <p>Servings: <%= @recipe.servings %></p>
      <p>Cook time: <%= @recipe.cook_time%></p>
      <p>Prep time: <%= @recipe.prep_time%></p>
      <p>Ingredients:</p>
      <%= simple_format @recipe.ingredients %>
      <p>Steps:</p>
      <%= simple_format @recipe.steps %>
      <%= link_to "Return to recipes", recipes_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
