<div class="card-recipe-show">
  <div class="card-recipe-show-top">
    <div class="recipe-show-title-top">
      <div class="card-recipe-show-title">
        <%= @recipe.name %>
      </div>
      <div class="card-favorite-button-show">
        <%= render 'favorites/favorite_btn', recipe: @recipe %>
      </div>
    </div>
    <div class="card-recipe-show-image">
      <%= cl_image_tag @recipe.image.key %>
    </div>
    <div class="card-recipe-show-description">
      <h6><%= @recipe.description %></h6>
    </div>
  </div>
  <div class="card-recipe-show-middle">
    <p><strong>Servings:</strong> <%= @recipe.servings %></p>
    <p><strong>Cook time:</strong> <%= @recipe.cook_time%> minutes</p>
    <p><strong>Prep time:</strong> <%= @recipe.prep_time%> minutes</p>
    <p><strong>Ingredients:</strong></p>
    <ul>
      <% @recipe.ingredients.split(',').map(&:strip).each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
  <div>

  <div class="card-recipe-show-bottom">
    <p><strong>Instructions:</strong></p>
    <ol>
      <% @recipe.steps.split(/\d+\./).map(&:strip).each do |steps| %>
        <% unless steps.empty? %>
          <li><%= steps %></li>
        <% end %>
      <% end %>
    </ol>
  </div>
  <!--<div style="display: flex; flex-wrap: wrap; justify-content: center;"> -->
  <%#= link_to "Return to recipes", recipes_path, class: "btn btn-secondary btn-sm", style: "margin-right: 10px;" %>
</div>
