<div class="container">
  <h1 class="title-font"><%= @recipe.name %></h1>
</div>

<div class="card-recipe-show">
  <div class="card" style="text-align: center;">
    <div class="recipe-image-text">
      <%= cl_image_tag @recipe.image.key %>
      <h5><%= @recipe.description %></h5>
    </div>
  </div>
  <div class="card-small">
    <p><strong>Servings:</strong> <%= @recipe.servings %></p>
    <p><strong>Cook time:</strong> <%= @recipe.cook_time%> minutes</p>
    <p><strong>Prep time:</strong> <%= @recipe.prep_time%> minutes</p>
    <p><strong>Ingredients:</strong></p>
    <ul>
      <% @recipe.ingredients.split(',').map(&:strip).each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
    <p><strong>Instructions:</strong></p>
    <ol>
      <% @recipe.steps.split(/\d+\./).map(&:strip).each do |steps| %>
        <% unless steps.empty? %>
          <li><%= steps %></li>
        <% end %>
      <% end %>

    </ol>
  </div>
</div>


<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <%= link_to "Return to recipes", recipes_path, class: "btn btn-secondary btn-sm", style: "margin-right: 10px;" %>
   <%= render 'favorites/favorite_btn', recipe: @recipe %>
</div>
