<div class="container">
  <h2>Find a deal near you</h2>
  <%= form_tag(deals_path, method: :get) do %>
    <%= label_tag(:postcode, "Enter your postcode:") %>
    <%= text_field_tag(:postcode) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<br>
<div class="container">
  <h2>Upload a deal</h2>
  <%= link_to "Add a deal I have found", new_deal_path, class: "btn btn-secondary" %>
</div>
<br>
<div class="navbar-container">
  <div class="navbar">
    <a href="/" class="secondary-button">Home</a>
    <a href="/deals" class="secondary-button">Deals</a>
    <a href="/recipes" class="secondary-button">Recipes</a>
    <a href="/profile" class="secondary-button">Profile</a>
  </div>
</div>
