<div class="container">
  <h2>Find a deal near you!</h2>
  <p>Enter your location:</p>
</div>
<br>
<br>


<div class="container">
  <p>Deals within 5 km of <span id="place_name"><%= @place_name %></span>
  <%# <%= "#{@melbourne_location.latitude}, #{@melbourne_location.longitude}"%>
  <ul>
  <% @targeted_businesses.each do |business| %>
    <% puts business.latitude, business.longitude %>
      <% if business.latitude && business.longitude %>
        <li><%= "#{business.name} is about #{number_with_precision(business.distance_to([@melbourne_location.latitude, @melbourne_location.longitude]), precision: 1)}" %> km away.</li>
      <% end %>
  <% end %>
  </ul>
</div>





<%# Map below %>

  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div id="geocoder" class="geocoder"></div>






<%# <nav class="navbar fixed-bottom bg-light">
  <div class="row justify-content-between">
    <div class="col text-center"><i class="fa-solid fa-house"></i></div>
    <div class="col text-center"><i class="fa-solid fa-dollar-sign"></i></div>
    <div class="col text-center"><i class="fa-solid fa-utensils"></i></div>
    <div class="col text-center"><i class="fa-solid fa-user"></i></div>
  </div>
</nav> %>
