<div class="text-center">
  <h1>Deals</h1>
</div>

<div>
  <%= link_to "Go to new deal", new_deal_path %>
</div>

<div class="container" style="text-align: left;">
  <% @deals.each do |deal| %>
    <div class="row my-2 mx-2">
      <div class="card">
        <%= link_to deal.name, deal_path(deal) %>
        <%= deal.description %>
        <% if deal.image.attached? %>
          <%= cl_image_tag deal.image.key, class:"card-deal-image" %>
        <% end %>
        <ul class="category-tag">
          <li><i class="fa fa-tag"></i> <%= deal.category %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
