<div class="text-center">
  <h1>Deals</h1>
</div>

<div class="text-center">
  <%= link_to "Submit a new deal", new_deal_path, class:"btn btn-secondary" %>
</div>

<div class="container" style="text-align: left;">
  <% @deals.each do |deal| %>
    <div class="row my-2 mx-2">
      <div class="card">
        <%= link_to deal.name, deal_path(deal) %>
        <div class="d-flex p-0.5 ">
          <%= deal.description %>
          <% if deal.image.attached? %>
            <%= cl_image_tag deal.image.key, class:"card-deal-image" %>
          <% end %>
        </div>
        <ul class="category-tag">
          <% if deal.user && deal.user.username.present? %>
            <li> Submitted by: <%= deal.user.username %></li>
          <% elsif deal.business.name.present? %>
            <li> Submitted by: <%= deal.business.name %></li>
          <% end %>
            <li><i class="fa fa-tag"></i> <%= deal.category %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
