<h1 class="title-font title-header">Deals</h1>

<div class="container">
  <div class="search-bar">
    <%= form_tag deals_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search deals", class: "search-box"%>
      <%= submit_tag "Search", name: nil, class: "btn-recipe-search-button"%>
    <% end %>
  </div>
</div>
<div class="container" style="text-align: left;">
  <% @deals.each do |deal| %>
    <%# <div class="row"> %>
      <%= link_to deal do %>
      <div class="card">
        <h5 class="d-flex justify-content-between"><%= deal.name %> <span class="font-color-price"><%= "$#{number_to_currency(deal.price, precision: 2, format: "%n")}" %></span></h5>
        <div class="card-deal-description">
          <div class="card-deal-description-text">
            <%= deal.description %>
          </div>
          <div class="card-deal-image">
            <% if deal.image.attached? %>
              <%= cl_image_tag deal.image.key, class:"card-deal-image"%>
            <% end %>
          </div>
        </div>
        <ul class="category-tag p-0">
          <% if deal.user && deal.user.username.present? %>
            <li class="user-submit"> <strong class="font-color-user"><%= deal.user.username %> </strong>on <%= deal.submission_date.localtime.strftime('%d-%m-%Y %H:%M') %> </li>
          <% elsif deal.business.present? && deal.business.name.present? %>
            <li class="business-submit"> <strong class="font-color-user"><%= deal.business.name %> </strong>on <%= deal.submission_date.localtime.strftime('%d-%m-%Y %H:%M') %> </li>
          <% end %>
            <li><i class="fa fa-tag"></i> <%= deal.category %></li>
        </ul>
      </div>
      <% end %>
    <%# </div> %>
  <% end %>
</div>
