<div class="text-center">
  <h1>Deals</h1>
</div>

<div class="container" style="text-align: left;">
  <% @deals.each do |deal| %>
    <div class="row my-2 mx-2">
      <%= link_to deal do %>
      <div class="card">
        <h4><%= deal.name %></h4>
        <div class="card-deal-description">
          <div class="card-deal-description-text">
            <%= deal.description %>
          </div>
          <div class="card-deal-image">
            <% if deal.image.attached? %>
              <%= cl_image_tag deal.image.key, class:"card-deal-image"%>
            <% end %>
          </div>
        </div>
        <ul class="category-tag p-0">
          <% if deal.user && deal.user.username.present? %>
            <li> <%= deal.user.username %> on <%= deal.submission_date.try(:strftime, ('%d-%m-%Y')) %> </li>
           <% elsif deal.business.present? && deal.business.name.present? %>
            <li> <%= deal.business.name %> on <%= deal.submission_date.try(:strftime, ('%d-%m-%Y')) %> </li>
          <% end %>
            <li><i class="fa fa-tag"></i> <%= deal.category %></li>
        </ul>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
