<div class="text-center">
  <h1>Deals index</h1>
</div>

<div>
  <%= link_to "Go to new deal", new_deal_path %>
</div>

<div class="container" style="text-align: left;">
  <% @deals.each do |deal| %>
    <div class="row">
      <div class="card">
        <%= link_to deal.name, deal_path(deal) %>
        <%= deal.description %>

        <% if deal.image.attached? %>
          <%= cl_image_tag deal.image.key, class:"card-image", style: "border-radius: 2%;" "box-shadow: 2px 2px 3px grey; border: 2px solid black;" %>
        <% end %>

        <%= deal.category %>
      </div>
    </div>
  <% end %>
</div>
