<div class="text-center">
  <h1 class="title-font">Add a deal</h1>
</div>

<div class="container">
  <%= simple_form_for @deal, data: { controller: 'flatpickr' }  do |f| %>
    <%= f.input :name, label:"Title" %>
    <%= f.input :category, :collection => %w[Meat Fruit Vegetable Dairy] %>
    <%= f.input :price, placeholder:"$"%>
    <%= f.input :description, as: :text, placeholder:"Include details such as location, shop name, how left in stock" %>
    <%= f.input :start_date, as: :string,
                input_html: {
                data: {
                  flatpickr_target: "startDate",
                  flatpickr_min_date: Time.zone.now }
                  } %>
    <%= f.input :end_date, as: :string,
                input_html: {
                data: {
                  flatpickr_target: "endDate" }
                  } %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, class:"btn btn-secondary" %>
  <% end %>
</div>
