<div class="d-flex justify-content-center">
  <h1>New deal</h1>
</div>

<%= simple_form_for(@deal) do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>
<%= link_to "Go to deals index", deals_path %>
