<div>
  <h1 class="title-font title-header">Add a deal</h1>
</div>

<div class="card-recipe-new">
  <%= simple_form_for @deal, data: { controller: 'flatpickr' }  do |f| %>
    <%= f.input :name, label:"Title (50 char. max)", placeholder:"Deal title", input_html: { class: 'f-input-custom' } %>
    <%= f.input :category, prompt: "Select one", :collection => %w[Meat Fruit Vegetable Dairy Pasta], input_html: { class: 'f-input-custom' } %>
    <%= f.input :price, placeholder:"$", input_html: { class: 'f-input-custom' }%>
    <%= f.input :description, label:"Description (150 char. max)", as: :text, input_html: { class: 'f-input-custom' }, placeholder:"Include details such as location, shop name, how many left in stock." %>
    <%= f.input :start_date, label:"Start date (if known)", as: :string,
                input_html: {
                   class: 'f-input-custom' ,
                data: {
                  flatpickr_target: "startDate",
                  flatpickr_min_date: Date.today.to_s}
                  } %>
    <%= f.input :end_date, label:"End date (if known)", as: :string,
                input_html: {
                  class: 'f-input-custom',
                data: {
                  flatpickr_target: "endDate",
                  flatpickr_min_date: Date.today.to_s }
                  } %>
    <%= f.input :image, as: :file, input_html: { class: 'f-input-custom' } %>
    <%= f.button :submit, class:"btn-btn-recipe-new" %>
  <% end %>
</div>
