<h1 class="text-center"><%= @deal.name %></h1>

<div class="container">
  <div class="card">
    <%= @deal.description %>
    <% if @deal.image.attached? %>
      <%= cl_image_tag @deal.image.key, class:"card-deal-image" %>
    <% end %>
    <ul class="category-tag">
      <li> Submitted by: <%= @deal.user.username %></li>
      <li><i class="fa fa-tag"></i> <%= @deal.category %></li>
    </ul>
  </div>
</div>

<%= link_to "Go to deals index", deals_path %>

<h2 class=text-center>See some recipes</h2>
<div class="container">
  <% @deal.recipes.each do |recipe| %>
    <div class="card my-2 mx-2">
      <h3 class="text-center recipe-title"><%= link_to recipe.name, recipe_path(recipe) %></h3>
      <% if recipe.image.attached? %>
        <%= cl_image_tag recipe.image.key, class:"card-recipe-image"%>
      <% end %>
      <p class="recipe-description"><%= recipe.description %></p>
    </div>
  <% end %>
</div>
