<div class="container">
  <div class="card mt-3">
    <div class="card-deal-show">
      <h5 class="d-flex justify-content-between"><%= @deal.name %> <span class="font-color-price"><%= "$#{number_to_currency(@deal.price, precision: 2, format: "%n")}" %></span></h5>
      <div class="card-deal-description">
        <div class="card-deal-description-text">
          <%= @deal.description %>
        </div>
        <div class="card-deal-image">
          <% if @deal.image.attached? %>
            <%= cl_image_tag @deal.image.key %>
          <% end %>
        </div>
      </div>
      <div class="deal-date">
        <% if @deal.start_date && @deal.end_date.present? %>
          <p><strong>Starts on: </strong><%= @deal.start_date.localtime.strftime('%d-%m-%Y') %></p>
          <p><strong>Ends on: </strong><%= @deal.end_date.localtime.strftime('%d-%m-%Y') %></p>
        <% end %>
      </div>
      <ul class="category-tag p-0">
        <% if @deal.user && @deal.user.username.present? %>
          <li class="w-50"> <strong class="font-color-user"><%= @deal.user.username %> </strong>on <%= @deal.submission_date.localtime.strftime('%d-%m-%Y %H:%M') %> </li>
        <% elsif @deal.business.present? && @deal.business.name.present? %>
          <li class="w-50"> <strong class="font-color-user"><%= @deal.business.name %></strong> on <%= @deal.submission_date.localtime.strftime('%d-%m-%Y %H:%M') %> </li>
        <% end %>
        <li><i class="fa fa-tag"></i> <%= @deal.category %></li>
      </ul>
    </div>
  </div>
</div>

<% if @deal.recipes.any? %>
  <h2 class="title-font title-header text-start">Try these recipes...</h2>
<% end %>

<div class="recipe-container">
  <% @deal.recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe) %>" style="text-decoration: none;">
      <div class="card-recipe" >
        <div class="recipe-title">
          <%= recipe.name %>
        </div>
        <div class="card-favorite-button" >
          <%= render 'favorites/favorite_btn', recipe: recipe %>
        </div>
        <% if recipe.image.attached? %>
          <div class="card-recipe-index-image">
            <a href="<%= recipe_path(recipe) %>">
              <%#= render 'favorites/favorite_btn', recipe: recipe %>
              <%= cl_image_tag recipe.image.key %>
            </a>
          </div>
        <% end %>
      </div>
    </a>
  <% end %>
</div>
